<apex:page controller="ABN.validateABN_Controller" tabStyle="Account" showHeader="true" >

<!-- 
    Type:       VF Page
    Purpose:    Used to submit Validate ABN Request        

    ---------------------------------------------------------------
    History:

    28-Jan-2016 GregB Created.


-->
  <apex:sectionHeader />
  
    <apex:form id="theForm">
        <apex:pageMessages />
        <!-- PAGE MESSAGE -->
        

              <apex:actionRegion >      
                    <apex:pageBlock title="Account">
                          <apex:pageBlockSection collapsible="false" columns="2" >
                            <apex:outputField value="{!objRec['ABN__c']}"/>
                            <apex:outputField value="{!objRec['Name']}"/>
                          </apex:pageBlockSection>
                         <apex:pageBlockButtons location="bottom" >
                            <apex:commandButton value="Validate"
                                action="{!validateABN}" status="loading" rerender="theForm"/>
                            <apex:commandButton value="Cancel"
                                action="{!doCancel}"/>                        
                          </apex:pageBlockButtons>      
                    </apex:pageBlock>
              </apex:actionRegion>
             
              <apex:actionStatus id="loading">
                  <apex:facet name="start">
                      <c:EnhancedActionStatus BackColor="#ffffff"
                                              borderColor="#6B6B6B"
                                              borderSize="1"
                                              height="50px"
                                              width="120px"
                                              margintop="-25px"
                                              marginleft="-60px"
                                              ImageUrl="{!$Resource.ABN__AjaxAnimation}"
                                              Message="Validating ABN...."/>
                  </apex:facet>
              </apex:actionStatus>    
    </apex:form>  
    
</apex:page>