<apex:page standardController="Contract__c">
  <script>
      alert('Please navigate to a proposal to create a contract. As a process, you are not allowed to create a contract via this screen.');
      window.location.href = '/a0H/o';
  </script>
</apex:page>